<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="colegio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="colegio.My.MySettings.colegioConnectionString" connectionString="Data Source=SERVIDOR-BD;Initial Catalog=colegio;Persist Security Info=True;User ID=colegio;Password=C0leg10"
            providerName="System.Data.SqlClient" />
        <add name="colegio.My.MySettings.colegioConnectionString1" connectionString="Data Source=SERVIDOR-BD;Initial Catalog=colegio;Persist Security Info=True;User ID=colegio;Password=C0leg10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <colegio.My.MySettings>
            <setting name="institucion" serializeAs="String">
                <value>Colegio Santa Ana</value>
            </setting>
            <setting name="encabezado1" serializeAs="String">
                <value>Liberia, Guanacaste</value>
            </setting>
            <setting name="encabezado2" serializeAs="String">
                <value>2325-6566</value>
            </setting>
            <setting name="impresora" serializeAs="String">
                <value />
            </setting>
            <setting name="conexionSQL" serializeAs="String">
                <value>Data Source=SERVIDOR-BD;Initial Catalog=colegio;Persist Security Info=True;User ID=sa;Password=123</value>
            </setting>
            <setting name="Admin" serializeAs="String">
                <value />
            </setting>
            <setting name="msj1Cobro" serializeAs="String">
                <value />
            </setting>
            <setting name="msj2Cobro" serializeAs="String">
                <value />
            </setting>
            <setting name="Directora" serializeAs="String">
                <value>Hna. Mercedes Quirós Quirós</value>
            </setting>
            <setting name="cargo" serializeAs="String">
                <value>Directora</value>
            </setting>
            <setting name="Slogan" serializeAs="String">
                <value>Educar Evangelizado desde la Hospitalidad</value>
            </setting>
            <setting name="ServActilizacion" serializeAs="String">
                <value>http://servidor-bd/app/colegio/colegio.xml</value>
            </setting>
            <setting name="matricula" serializeAs="String">
                <value>97500</value>
            </setting>
            <setting name="prematricula" serializeAs="String">
                <value>97500</value>
            </setting>
        </colegio.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
